.simple-calendar {
  width: 800px;
  margin: 0 auto;
  
  .arrow_tag{
    font-size: 25px; 
    color: #000080;
  }
  span.calendar-title{
    font-size: 25px;
    color: #555555;
    font-weight: bold;   
  }
  
  td{
    width: 12.5%;
  }
  
  .wday-0 {
    color: red
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }
  .wday-7 {}

  .today {
    background-color: #FFFFCC;
  }
  .past {
  }
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {
    background-color: #FFFFCC;
  }

  .calendar-heading__username{
    padding-top: 15px;
  }

  .calendar-heading-hidden{
    visibility:hidden;
  }

  .return__btn{
    float: right;
    text-decoration: underline;
    padding-right: 10px;
  }
}