.contents__calendar{
  height: 600px;
  width: 900px;
  background-color: white;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  overflow: scroll;
  a{
    text-decoration: none;
    color: black;
  }
  .calendar__date{
    float: left;
  }
  .calendar__task{
    border: solid 2px navy;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background-color: white;
  }
}
