.todo--header{
  background-color: #333333;
  width: 900px;
  height: 50px; 
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items:center;
  &__title{
    color: white;
    font-weight: bold;
    padding: 0 10px;
  }
  .plus{
    padding: 0 20px;
    font-size: 2.5em;
    color: white;
  }
  .undo{
    padding: 0 20px;
    font-size: 2.5em;
    color: white;
  }
}

.todo--lists{
  height: 400px;
  width: 900px;
  background-color: white;
  margin: 0 auto;
  overflow: scroll;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.todo--task{
  margin: 20px 40px;
  &__limit{
    font-weight: bold;
  }
  &__content{
    background-color: white;
    border: solid 1px #dddddd;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    position: relative;
  }
  .task__content--btn{
    float: right;
    padding: 0 10px;
  }
}

.todo--form{
  text-align: left;
  position: relative;
  label{
    float: left;
    margin-left: 15px;
  }
  &__name{
    margin: 20px 50px;
  }
  &__description{
    margin: 20px 50px;
  }
  &__term{
    margin: 20px 50px;
    display: flex;
  }
  &__submit--btn{
    position: absolute;
    top: 330px;
    left: 100px;
  }
  &__user{
    margin: 20px 50px;
  }
  &__created{
    margin: 20px 50px;
  }
  #form__name{
    width: 50%;
    height: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
  }
  #form__description{
    width: 90%;
    height: 200px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
  }
  #form__select{
    height: 30px;
  }
  #submit--btn{
    width: 100px;
  }
}

.todo__change--btn{
  position: absolute;
  top: 500px;
  left: 700px;
}

