.contents
  .todo--header
    .todo--header__title
      日報更新
    .todo--header__task--icon
      = link_to tasks_path do
        = icon('fas', 'undo', class: 'undo') 
  .todo--lists
    .todo--form
      = render partial: 'form', locals: { report: @report }