.contents
  .todo--header
    .todo--header__title
      DailyReport > 日報を作成
    .todo--header__task--icon
      = link_to reports_path do
        = icon('fas', 'undo', class: 'undo') 
  .report--form
    = render partial: 'form', locals: { report: @report }