%header
  .header__title
    Manage Metric
  .header__menu 
    %ul
      %li
        %a{:href => "#"} 
          user name
          %span ▼
          %ul
            %li
              %a{:href => "#"} sub-menu01
            %li
              %a{:href => "#"} sub-menu02
            %li
              %a{:href => "#"} sub-menu03
