.side--bar
  .side--bar__icon
    .side--bar__icon__todo
      %a{:href => "#"} 
        = icon('fas', 'clipboard-list', class: 'todo')
    .side--bar__icon__report
      %a{:href => "#"} 
        = icon('fas', 'pen-square', class: 'report')
    .side--bar__icon__calender
      %a{:href => "#"} 
        = icon('fas', 'calendar-alt', class: 'calender')
